#container-plasma {
position: relative;
}

#canvas {
	position: absolute;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 1;
}

